.left {
  float: left;
  margin-left: 3vw;
}

.right {
  float: right;
  margin-right: 3vw;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product {
  width: 600px;
}

.margin {
  margin-right: 3vw;
}

.columns {
  display: flex;
  flex-direction: column;
}

.flex2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.margin-right {
  margin-right: 100px;
}

.margin-top {
  margin-top: 12vh;
}

.margin-left {
  margin-left: 5vw;
}

.pie {
  width: 400px;
}
