table {
  width: 900px;
  margin-top: 2vh;
}

.content,
h1 {
  margin-left: 3vw;
}

h1 {
  margin-top: 2vh;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

mat-card-subtitle {
  font-size: large;
}
